<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nasa</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="./css/slick-theme.css"/>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header class="header">
        <a class="logo" href="index.html"><img src="./img/logo.svg" alt="logo"></a>
        <nav class="menu">
            <div class="menu_link">
                <a class="link" href="#">Преимущества</a>
            </div>
            <div class="menu_link">
                <a class="link" href="#">Фотографии</a>
            </div>
        </nav>
        <button class="enter_button">Вход</button>
    </header>
    <section class="first_block center">
        <div class="block_title">
            <h1 class="block_title_text">Космическое агентство</h1>
            <p class="block_subtitle">
                Национальное управление по аэронавтике и исследованию космического пространства
                — ведомство, относящееся к федеральному правительству
                США и подчиняющееся непосредственно президенту США.
            </p>
        </div>
         <div class="block_pictures">
            <div class="left_block">
                <div class="first_row">
                    <div class="left_block_pictures">
                        <img src="img/first_img_1.png" alt="first_img_1" class="first_img_1">
                        <p class="img_description">Спейс шаттлы —пилотируемые корабли</p>
                    </div>
                    <div class="left_block_pictures">
                        <img src="img/first_img_3.png" alt="first_img_3" class="first_img_3">
                        <p class="img_description">Лучшее телескопическое оборудование</p>
                    </div>
                </div>
                <div class="second_row">
                    <div class="left_block_pictures">
                        <img src="img/second_img_1.png" alt="second_img_1" class="second_img_1">
                        <p class="img_description">Целимся на Луну и Марс</p>
                    </div>
                    <div class="left_block_pictures">
                        <img src="img/second_img_3.png" alt="second_img_3" class="second_img_3">
                        <p class="img_description">Золотая медаль по научным исследованиям</p>
                    </div>
                </div>
            </div>
            <div class="right_block">
                <img src="img/big_image.jpeg" alt="big_image" class="big_image">
            </div>
        </div>
    </section>
    <div class="container mt-5">
        <div class="slider">
            {% for image in images %}
                <div>
                    <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-fluid">
                </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center">
            <a href="#"
               class="btn btn-primary"
               data-toggle="modal"
               data-target="#fullScreenModal">Открыть галерею</a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="fullScreenModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="full-slider">
                        {% for image in images %}
                            <div>
                                <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-fluid">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                    Close
                </button>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="./js/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.slider').slick();
            $('.full-slider').slick();
        });
    </script>
</body>

</html>