* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

.header{
    height: 90px;
    padding: 0px 150px 0px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: rgb(10, 18, 30);
}

.enter_button{
    width: 88px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 52, 43);
    border-radius: 4px;
    background: rgb(255, 52, 43);
    color: rgb(255, 255, 255);
    font-family: Montserrat, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;

}

.menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 45px;
}

.link{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}

.first_block{
    height: 915px;
    background-color: rgb(255,255,255);
    padding: 90px 150px 90px 150px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.block_pictures{
    height: 457px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 127px;
    padding: 0;
    align-items: center;
}

.block_title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block_title_text{
    color: rgb(10, 18, 30);
    font-size: 56px;
    font-weight: 700;
    line-height: 68px;
    text-align: center;
}

.block_subtitle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: rgb(60, 60, 60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.first_row{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    padding: 0px;
}

.second_row{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    padding: 0px;
}

.left_block_pictures{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding-top: 30px;

}

.img_description{
    color: rgb(10, 18, 30);
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
}

.right_block{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: 0px 12px 24px 0px rgba(0, 29, 86, 0.2);
    background: rgb(196, 196, 196);
}